.p-Menu.Flex323 {
display: flex;
justify-content: space-around;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969;
align-items: center;
padding-top: 20px;
padding-bottom: 30px;
}
.p-Menu.Flex321 {
display: flex;
align-items: center;
column-gap: 30px;
}
.p-Menu.Flex319 {
display: flex;
}
.p-Menu.Flex320 {
display: flex;
column-gap: 30px;
}
.p-Menu.Flex322 {
display: flex;
column-gap: 30px;
}
.p-Menu.Flex324 {
display: flex;
padding-bottom: 100px;
row-gap: 10px;
flex-direction: column;
align-items: center;
}
.p-Menu.Flex325 {
display: flex;
column-gap: 20px;
padding-bottom: ;
padding-top: 25px;
}
.p-Menu.Flex391 {
display: flex;
}
.p-Menu.Flex423 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: 300px;
padding-top: 60px;
}
.p-Menu.Flex421 {
display: flex;
column-gap: 25px;
}
.p-Menu.Flex417 {
display: flex;
column-gap: 20px;
}
.p-Menu.Flex409 {
display: flex;
row-gap: 10px;
align-items: center;
flex-direction: column;
}
.p-Menu.Flex393 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
border-radius: 15px;
background-position-y: 60px;
background-position-x: 60px;
position: relative;
left: 60px;
top: 10px;
}
.p-Menu.Flex394 {
display: flex;
position: relative;
top: 210px;
flex-direction: column;
row-gap: 10px;
}
.p-Menu.Flex410 {
display: flex;
row-gap: 10px;
align-items: center;
flex-direction: column;
}
.p-Menu.Flex395 {
display: flex;
position: relative;
top: 210px;
flex-direction: column;
row-gap: 10px;
}
.p-Menu.Flex396 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
border-radius: 15px;
background-position-y: 60px;
background-position-x: 60px;
position: relative;
left: 60px;
top: 10px;
}
.p-Menu.Flex418 {
display: flex;
column-gap: 20px;
}
.p-Menu.Flex411 {
display: flex;
row-gap: 10px;
align-items: center;
flex-direction: column;
}
.p-Menu.Flex397 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
border-radius: 15px;
background-position-y: 60px;
background-position-x: 60px;
position: relative;
left: 60px;
top: 10px;
}
.p-Menu.Flex398 {
display: flex;
position: relative;
top: 210px;
flex-direction: column;
row-gap: 10px;
}
.p-Menu.Flex412 {
display: flex;
row-gap: 10px;
align-items: center;
flex-direction: column;
}
.p-Menu.Flex399 {
display: flex;
position: relative;
top: 210px;
flex-direction: column;
row-gap: 10px;
}
.p-Menu.Flex400 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
border-radius: 15px;
background-position-y: 60px;
background-position-x: 60px;
position: relative;
left: 60px;
top: 10px;
}
.p-Menu.Flex422 {
display: flex;
column-gap: 25px;
}
.p-Menu.Flex419 {
display: flex;
column-gap: 20px;
}
.p-Menu.Flex413 {
display: flex;
row-gap: 10px;
align-items: center;
flex-direction: column;
}
.p-Menu.Flex401 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
border-radius: 15px;
background-position-y: 60px;
background-position-x: 60px;
position: relative;
left: 60px;
top: 10px;
}
.p-Menu.Flex402 {
display: flex;
position: relative;
top: 210px;
flex-direction: column;
row-gap: 10px;
}
.p-Menu.Flex414 {
display: flex;
row-gap: 10px;
align-items: center;
flex-direction: column;
}
.p-Menu.Flex403 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
border-radius: 15px;
background-position-y: 60px;
background-position-x: 60px;
position: relative;
left: 60px;
top: 10px;
}
.p-Menu.Flex404 {
display: flex;
position: relative;
top: 210px;
flex-direction: column;
row-gap: 10px;
}
.p-Menu.Flex420 {
display: flex;
column-gap: 20px;
}
.p-Menu.Flex415 {
display: flex;
row-gap: 10px;
align-items: center;
flex-direction: column;
}
.p-Menu.Flex405 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
border-radius: 15px;
background-position-y: 60px;
background-position-x: 60px;
position: relative;
left: 60px;
top: 10px;
}
.p-Menu.Flex406 {
display: flex;
position: relative;
top: 210px;
flex-direction: column;
row-gap: 10px;
}
.p-Menu.Flex416 {
display: flex;
row-gap: 10px;
align-items: center;
flex-direction: column;
}
.p-Menu.Flex407 {
display: flex;
position: relative;
top: 210px;
flex-direction: column;
row-gap: 10px;
}
.p-Menu.Flex408 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
border-radius: 15px;
background-position-y: 60px;
background-position-x: 60px;
position: relative;
left: 60px;
top: 10px;
}
.p-Menu.Flex424 {
display: flex;
padding-top: 150px;
row-gap: 15px;
flex-direction: column;
align-items: center;
padding-bottom: 80px;
}
.p-Menu.Flex429 {
display: flex;
flex-direction: column;
row-gap: 20px;
padding-top: 30px;
}
.p-Menu.Flex428 {
display: flex;
flex-direction: row;
column-gap: 25px;
justify-content: space-between;
}
.p-Menu.Flex430 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
}
.p-Menu.Flex431 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
}
.p-Menu.Flex432 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
}
.p-Menu.Flex433 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
}
.p-Menu.Flex438 {
display: flex;
flex-direction: row;
column-gap: 25px;
justify-content: space-between;
}
.p-Menu.Flex434 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
row-gap: ;
}
.p-Menu.Flex435 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
}
.p-Menu.Flex436 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
}
.p-Menu.Flex437 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
}
.p-Menu.Flex453 {
display: flex;
column-gap: 40px;
justify-content: space-between;
padding-top: 100px;
padding-bottom: 50px;
padding-left: 150px;
padding-right: 150px;
}
.p-Menu.Flex450 {
display: flex;
column-gap: 10px;
}
.p-Menu.Flex446 {
display: flex;
font-family: DM Sans;
font-size: 20px;
font-weight: 500;
row-gap: 10px;
padding-left: 5px;
padding-right: 5px;
align-items: flex-start;
flex-direction: column;
}
.p-Menu.Flex447 {
display: flex;
font-family: DM Sans;
font-size: 20px;
font-weight: 500;
row-gap: 10px;
padding-left: 5px;
padding-right: 5px;
align-items: flex-start;
flex-direction: column;
column-gap: ;
}
.p-Menu.Flex451 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: flex-start;
}
.p-Menu.Flex448 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Menu.Flex439 {
display: flex;
column-gap: 20px;
}
.p-Menu.Flex440 {
display: flex;
column-gap: 20px;
}
.p-Menu.Flex452 {
display: flex;
width: 40%;
row-gap: 13px;
align-items: flex-start;
flex-direction: column;
}
.p-Menu.Flex449 {
display: flex;
flex-direction: row;
column-gap: 8px;
}
.p-Menu.Flex441 {
display: flex;
}
.p-Menu.Flex442 {
display: flex;
}
.p-Menu.Flex443 {
display: flex;
}
.p-Menu.Flex444 {
display: flex;
flex-direction: row;
}
.p-Menu.Flex445 {
display: flex;
}
.p-Menu.Image128 {
;
}
.p-Menu.Link21 {
cursor: pointer;
font-family: DM Sans;
font-weight: 500;
}
.p-Menu.Link22 {
font-family: DM Sans;
}
.p-Menu.Link23 {
font-family: DM Sans;
font-weight: 500;
}
.p-Menu.Link24 {
font-family: DM Sans;
font-weight: 500;
}
.p-Menu.Link25 {
font-family: DM Sans;
font-weight: 500;
}
.p-Menu.Button50 {
color: ;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.Button51 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.TextBox261 {
font-size: 43px;
font-family: DM Sans;
}
.p-Menu.TextBox262 {
width: 50%;
font-family: ;
font-weight: 500;
text-align: center;
}
.p-Menu.Button53 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.Button56 {
color: #fff;
background-color: #FF7629;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.Button57 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.Button58 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.Button59 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.Image145 {
width: 250px;
height: 250px;
border-radius: 30px;
background-clip: content-box;
-webkit-background-clip: content-box;
position: absolute;
}
.p-Menu.TextBox315 {
color: #070707;
position: relative;
}
.p-Menu.TextBox316 {
font-family: DM Sans;
font-size: 24px;
text-align: center;
}
.p-Menu.TextBox317 {
max-width: ;
width: 250px;
height: 50px;
font-family: DM Sans;
font-size: 16px;
align-self: center;
text-align: center;
color: #686868;
}
.p-Menu.Image146 {
width: 250px;
height: 250px;
border-radius: 30px;
background-clip: content-box;
-webkit-background-clip: content-box;
position: absolute;
}
.p-Menu.TextBox318 {
max-width: ;
width: 250px;
height: 50px;
font-family: DM Sans;
font-size: 16px;
align-self: center;
text-align: center;
color: #686868;
}
.p-Menu.TextBox319 {
font-family: DM Sans;
font-size: 24px;
text-align: center;
}
.p-Menu.TextBox320 {
color: #070707;
position: relative;
}
.p-Menu.Image147 {
width: 250px;
height: 250px;
border-radius: 30px;
background-clip: content-box;
-webkit-background-clip: content-box;
position: absolute;
}
.p-Menu.TextBox321 {
color: #070707;
position: relative;
}
.p-Menu.TextBox322 {
font-family: DM Sans;
font-size: 24px;
text-align: center;
}
.p-Menu.TextBox323 {
max-width: ;
width: 250px;
height: 50px;
font-family: DM Sans;
font-size: 16px;
align-self: center;
text-align: center;
color: #686868;
}
.p-Menu.Image148 {
width: 250px;
height: 250px;
border-radius: 30px;
background-clip: content-box;
-webkit-background-clip: content-box;
position: absolute;
}
.p-Menu.TextBox324 {
max-width: ;
width: 250px;
height: 50px;
font-family: DM Sans;
font-size: 16px;
align-self: center;
text-align: center;
color: #686868;
}
.p-Menu.TextBox325 {
font-family: DM Sans;
font-size: 24px;
text-align: center;
}
.p-Menu.TextBox326 {
color: #070707;
position: relative;
}
.p-Menu.Image149 {
width: 250px;
height: 250px;
border-radius: 30px;
background-clip: content-box;
-webkit-background-clip: content-box;
position: absolute;
}
.p-Menu.TextBox327 {
color: #070707;
position: relative;
}
.p-Menu.TextBox328 {
font-family: DM Sans;
font-size: 24px;
text-align: center;
}
.p-Menu.TextBox329 {
max-width: ;
width: 250px;
height: 50px;
font-family: DM Sans;
font-size: 16px;
align-self: center;
text-align: center;
color: #686868;
}
.p-Menu.Image150 {
width: 250px;
height: 250px;
border-radius: 30px;
background-clip: content-box;
-webkit-background-clip: content-box;
position: absolute;
}
.p-Menu.TextBox330 {
color: #070707;
position: relative;
}
.p-Menu.TextBox331 {
font-family: DM Sans;
font-size: 24px;
text-align: center;
}
.p-Menu.TextBox332 {
max-width: ;
width: 250px;
height: 50px;
font-family: DM Sans;
font-size: 16px;
align-self: center;
text-align: center;
color: #686868;
}
.p-Menu.Image151 {
width: 250px;
height: 250px;
border-radius: 30px;
background-clip: content-box;
-webkit-background-clip: content-box;
position: absolute;
}
.p-Menu.TextBox333 {
color: #070707;
position: relative;
}
.p-Menu.TextBox334 {
font-family: DM Sans;
font-size: 24px;
text-align: center;
}
.p-Menu.TextBox335 {
max-width: ;
width: 250px;
height: 50px;
font-family: DM Sans;
font-size: 16px;
align-self: center;
text-align: center;
color: #686868;
}
.p-Menu.Image152 {
width: 250px;
height: 250px;
border-radius: 30px;
background-clip: content-box;
-webkit-background-clip: content-box;
position: absolute;
}
.p-Menu.TextBox336 {
max-width: ;
width: 250px;
height: 50px;
font-family: DM Sans;
font-size: 16px;
align-self: center;
text-align: center;
color: #686868;
}
.p-Menu.TextBox337 {
font-family: DM Sans;
font-size: 24px;
text-align: center;
}
.p-Menu.TextBox338 {
color: #070707;
position: relative;
}
.p-Menu.TextBox339 {
width: 30%;
text-align: center;
}
.p-Menu.TextBox340 {
font-size: 42px;
font-family: DM Sans;
font-weight: 500;
}
.p-Menu.Image157 {
width: 130px;
}
.p-Menu.Image161 {
width: 130px;
}
.p-Menu.Image162 {
width: 130px;
}
.p-Menu.Image163 {
width: 130px;
}
.p-Menu.Image164 {
width: 130px;
}
.p-Menu.Image165 {
width: 130px;
}
.p-Menu.Image166 {
width: 130px;
}
.p-Menu.Image167 {
width: 130px;
}
.p-Menu.TextBox341 {
padding-bottom: 20px;
padding-right: 40px;
}
.p-Menu.TextBox342 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Menu.TextBox343 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Menu.TextBox344 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Menu.TextBox345 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Menu.TextBox346 {
font-size: 16px;
font-family: DM Sans;
color: #7f7c7c;
}
.p-Menu.TextBox347 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox348 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox349 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox350 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox351 {
font-size: 16px;
font-family: DM Sans;
color: #7f7c7c;
}
.p-Menu.TextBox352 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Menu.TextBox353 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
text-align: left;
left: 0;
}
.p-Menu.TextBox354 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Menu.TextBox355 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Menu.TextBox356 {
padding-bottom: 20px;
padding-right: 40px;
}
.p-Menu.TextBox357 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Menu.Image168 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Menu.Image169 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Menu.Image170 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Menu.Image171 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Menu.TextBox358 {
font-family: DM Sans;
font-weight: 500;
color: #6a6868;
}
.p-Menu.Image177 {
;
}
.p-Menu.Image172 {
width: 30px;
height: 30px;
}
.p-Menu.Image173 {
width: 30px;
height: 30px;
}
.p-Menu.Image174 {
width: 30px;
height: 30px;
}
.p-Menu.Image175 {
width: 30px;
height: 30px;
}
.p-Menu.Image176 {
width: 30px;
height: 30px;
}
